@-webkit-keyframes iconMoveUp {
	0% {-webkit-transform: translateY(100%); opacity: 0;}
	50% {-webkit-transform: translateY(0%); opacity: 1;}
	100% {-webkit-transform: translateY(-100%); opacity: 0;}
}

@-webkit-keyframes fade_in_bottom {
	0% {-webkit-transform: translateY(300px) rotate(8deg); opacity: 0;}
	100% {-webkit-transform: translateY(0) rotate(8deg); opacity: 1;}
}

.icon_up {
	-webkit-animation: iconMoveUp ease 1.5s infinite;
}

.p1_s_c {
	-webkit-animation: fade_in_bottom .6s .2s ease both;
}